
<section class="section-3">
  <div class="container">
    <div class="section-3__wrap">
      <div class="section-3__img-main"><img src="/FE-T7-2024/project02/assets/images/horizontal-shot-adult-girl-jeans-overalls-kissing-cute-puppy-while-raising-it-air-young-girl-being-love-with-her-dog-clothed-trendy-jumper-display-affection 3.png" data-aos="fade-up" data-aos-duration="800" alt=""/></div>
      <div class="section-3__content">
        <h1 class="section-3__title">
          <div class="section-3__title-main" data-aos="fade-up" data-aos-duration="800">Thêm Một Bạn </div>
          <div class="section-3__title-sub" data-aos="fade-up" data-aos-duration="800">Thêm ngàn niềm vui! </div>
        </h1>
        <div class="section-3__desc" data-aos="fade-up" data-aos-duration="800" data-aos-delay="60">Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!</div>
        <div class="section-3__buttons"><a class="outline-button button" href="#" data-aos="fade-up" data-aos-duration="800">Giới Thiệu<i class="fa-regular fa-circle-play"></i></a><a class="solid-button button" href="#" data-aos="fade-up" data-aos-duration="800">Khám Phá Ngay</a></div>
      </div>
    </div>
  </div>
</section>