extends layouts/default.pug
include mixins/product-item.pug

block title
  title Trang chủ

block main
  section.section-1
    .container
        .section-1__wrap
            .section-1__content
                .section-1__bg-1
                    img(src="/FE-T7-2024/project02/assets/images/Rectangle 3.svg" data-aos="fade-up" data-aos-duration="800")
                .section-1__bg-2
                    img(src="/FE-T7-2024/project02/assets/images/Rectangle 8.svg" data-aos="fade-up" data-aos-duration="800" alt="")
                .section-1__bg-3
                    img(src="/FE-T7-2024/project02/assets/images/Rectangle 9.svg" data-aos="fade-up" data-aos-duration="800" alt="")
                h1.section-1__title
                    .section-1__title-main(data-aos="fade-up" data-aos-duration="800") Thêm Một Bạn
                    .section-1__title-sub(data-aos="fade-up" data-aos-duration="800") Thêm ngàn niềm vui!
                h1
                p.section-1__desc(data-aos="fade-up" data-aos-duration="800")
                    | Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú
                    | cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                .section-1__buttons
                    a(class="outline-button button" data-aos="fade-up" data-aos-duration="800" href="#") Giới Thiệu
                      i(class="fa-regular fa-circle-play")
                    a(class="solid-button button" data-aos="fade-up" data-aos-duration="800" href="/FE-T7-2024/project02/product-list.html")  Khám Phá Ngay
            .section-1__image
                img(class="section-1__bg-4" src="/FE-T7-2024/project02/assets/images/Group 2.svg" data-aos="fade-up" data-aos-duration="800" alt="")
                img(class="section-1__img-main" src="/FE-T7-2024/project02/assets/images/good-humored-woman-holds-dog-laughing-pink-background-emotional-sort-haired-girl-grey-hoodie-poses-with-corgi-isolated 1.png" data-aos="fade-up" data-aos-duration="800" data-aos-delay="150" alt="") 
  //- end section-1

  //- section-2 
  -
    var pets = [
      {
        image: '/FE-T7-2024/project02/assets/images/image 1.jpg',
        title: 'MO231 - Pomeranian Trắng',
        gender: 'Đực',
        age: '02 tháng',
        price: '6.900.000 VND'
      },
      {
        image: '/FE-T7-2024/project02/assets/images/image 2.jpg',
        title: 'MO502 - Poodle Tiny Vàng',
        gender: 'Cái',
        age: '02 tháng',
        price: '3.900.000 VND'
      },
      {
        image: '/FE-T7-2024/project02/assets/images/image 3.jpg',
        title: 'MO102 - Poodle Tiny Sepia',
        gender: 'Đực',
        age: '02 tháng',
        price: '4.000.000 VND'
      },
      {
        image: '/FE-T7-2024/project02/assets/images/image 4.jpg',
        title: 'MO512 - Alaskan Malamute',
        gender: 'Đực',
        age: '03 tháng',
        price: '8.900.000 VND'
      },
      {
        image: '/FE-T7-2024/project02/assets/images/image 5.jpg',
        title: 'MO231 - Pembroke Corgi',
        gender: 'Đực',
        age: '02 tháng',
        price: '7.900.000 VND'
      },
      {
        image: '/FE-T7-2024/project02/assets/images/image 6.jpg',
        title: 'MO502 - Pembroke Corgi',
        gender: 'Cái',
        age: '02 tháng',
        price: '9.000.000 VND'
      },
      {
        image: '/FE-T7-2024/project02/assets/images/image 7.jpg',
        title: 'MO231 - Pomeranian Trắng',
        gender: 'Cái',
        age: '02 tháng',
        price: '6.500.000 VND'
      },
      {
        image: '/FE-T7-2024/project02/assets/images/image 8.jpg',
        title: 'MO512 - Poodle Tiny',
        gender: 'Đực',
        age: '02 tháng',
        price: '5.000.000 VND'
      }
    ];

  section.section-2
    .container
      .box-head
        .box-head__left(data-aos="fade-right" data-aos-duration="800")
          .box-head__title-1 Có gì mới?
          h2.box-head__title-2 Một số vật nuôi của chúng tôi
        .box-head__right
          a(class="box-head__right__button" href="#" data-aos="fade-left" data-aos-duration="800") Xem thêm
            i(class="fa-solid fa-arrow-right")
      .section-2__wrap(data-aos="fade-up" data-aos-duration="800")
        each pet in pets
          +product-item(pet)     
      .box-head
        .box-head__right-mobile
          a(class="box-head__right-mobile__button" href="#") Xem thêm
            i(class="fa-solid fa-arrow-right")
        
  //- end section-2

  //- section-3
  include partials/section3.pug
  //- end section-3

  //- section-4
  section.section-4
    .container
      .box-head
        .box-head__left
          .box-head__title-1(data-aos="fade-right" data-aos-duration="800") Có thể bạn đã biết?
          h2.box-head__title-2(data-aos="fade-right" data-aos-duration="800") Kiến thức thú cưng hữu ích
        .box-head__right(data-aos="fade-left" data-aos-duration="800")
          a(class="box-head__right__button" href="#") Xem thêm
            i(class="fa-solid fa-arrow-right")

      //- .swiper.swiper-blog
        //- .swiper-wrapper(data-aos="fade-up" data-aos-duration="800")
      .section-4__wrap(data-aos="fade-up" data-aos-duration="800")
        //- .swiper-slide
        .blog-item
          a(href="#")
            .blog-item__img
              img(src="/FE-T7-2024/project02/assets/images/image 9.jpg" alt="")
            .blog-item__content
              .blog-item__button Kiến thức thú cưng
              .blog-item__title Pomeranian là gì? Cách nhận biết chó Pomeranian
              p.blog-item__detail
                | Pomeranian hay còn gọi là chó Pomeranian (chó Pom) luôn nằm trong top những thú cưng dễ thương nhất. Không chỉ vậy, giống chó xiếc nhỏ nhắn, đáng yêu, thông minh, thân thiện và khéo léo.
        //- .swiper-slide 
        .blog-item
          a(href="#")
            .blog-item__img
              img(src="/FE-T7-2024/project02/assets/images/image 10.png" alt="")
            .blog-item__content
              .blog-item__button Kiến thức thú cưng
              .blog-item__title Chế độ ăn cho chó bạn cần biết  
              p.blog-item__detail.blog-item__detail--fourlines
                | Việc chia khẩu phần ăn cho chó thoạt nghe có vẻ đơn giản nhưng có một số quy tắc bạn nên biết để chó cưng dễ dàng hấp thụ các chất dinh dưỡng trong khẩu phần ăn. Dành cho những người mới bắt đầu nuôi chó, đặc biệt là chó con mới sinh có sức đề kháng tương đối yếu.
        //- .swiper-slide 
        .blog-item
          a(href="#")
            .blog-item__img
              img(src="/FE-T7-2024/project02/assets/images/image 10.png" alt="")
            .blog-item__content
              .blog-item__button Kiến thức thú cưng
              .blog-item__title Chế độ ăn cho chó bạn cần biết  
              p.blog-item__detail.blog-item__detail--fourlines
                | Việc chia khẩu phần ăn cho chó thoạt nghe có vẻ đơn giản nhưng có một số quy tắc bạn nên biết để chó cưng dễ dàng hấp thụ các chất dinh dưỡng trong khẩu phần ăn. Dành cho những người mới bắt đầu nuôi chó, đặc biệt là chó con mới sinh có sức đề kháng tương đối yếu.
        //-   .swiper-slide  
        //-     .blog-item
        //-       a(href="#")
        //-         .blog-item__img
        //-           img(src="/FE-T7-2024/project02/assets/images/image 11.png" alt="")
        //-         .blog-item__content
        //-           .blog-item__button Kiến thức thú cưng
        //-           .blog-item__title Tại sao chó cắn phá đồ đạc và cách phòng ngừa hiệu quả
        //-           p.blog-item__detail 
        //-             | Chó cắn là hiện tượng phổ biến trong quá trình phát triển. Tuy nhiên, không ai muốn thấy đồ đạc, vật dụng quan trọng của mình bị chó cắn.
        //-   .swiper-slide  
        //-     .blog-item
        //-       a(href="#")
        //-         .blog-item__img
        //-           img(src="/FE-T7-2024/project02/assets/images/image 11.png" alt="")
        //-         .blog-item__content
        //-           .blog-item__button Kiến thức thú cưng
        //-           .blog-item__title Tại sao chó cắn phá đồ đạc và cách phòng ngừa hiệu quả
        //-           p.blog-item__detail 
        //-             | Chó cắn là hiện tượng phổ biến trong quá trình phát triển. Tuy nhiên, không ai muốn thấy đồ đạc, vật dụng quan trọng của mình bị chó cắn.
        //- .swiper-button-next
        //- .swiper-button-prev
      .box-head
        .box-head__right-mobile
          a(class="box-head__right-mobile__button" href="#") Xem thêm
            i(class="fa-solid fa-arrow-right")
  //- end section-4

