<!DOCTYPE html >
<html> 
  <head> 
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="stylesheet" href="../assets/sass/style.scss"/>
  </head>
</html>
<body> 
  <header class="header">
    <div class="container">
      <div class="header__wrap">
        <div class="header__menu-mobile"><i class="fa-solid fa-bars"></i></div>
        <div class="header__logo"><a href="index.html"></a></div>
        <nav class="header__menu">
          <ul>
            <li><a href="#">Trang Chủ</a></li>
            <li><a href="#">Danh mục</a></li>
            <li><a href="#">Giới Thiệu</a></li>
            <li><a href="#">Liên hệ</a></li>
          </ul>
        </nav>
        <div class="header__search-mobile"><i class="fa-solid fa-magnifying-glass"></i></div>
        <form class="header__form" action="#">
          <input name="keyword" placeholder="Nhập từ khóa..."/>
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form><a class="solid-button button" href="#" target="_blank">Tham Gia Cộng Đồng</a>
      </div>
    </div>
  </header>
</body>