section.section-3
    .container
      .section-3__wrap
        .section-3__img-main
          img(src="/FE-T7-2024/project02/assets/images/horizontal-shot-adult-girl-jeans-overalls-kissing-cute-puppy-while-raising-it-air-young-girl-being-love-with-her-dog-clothed-trendy-jumper-display-affection 3.png" data-aos="fade-up" data-aos-duration="800" alt="")
        .section-3__content
          h1.section-3__title
            .section-3__title-main(data-aos="fade-up" data-aos-duration="800") Thêm Một Bạn 
            .section-3__title-sub(data-aos="fade-up" data-aos-duration="800") Thêm ngàn niềm vui! 
          .section-3__desc(data-aos="fade-up" data-aos-duration="800" data-aos-delay="60")
            |Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
          .section-3__buttons
            a(class="outline-button button" href="#" data-aos="fade-up" data-aos-duration="800") Giới Thiệu
              i(class="fa-regular fa-circle-play")
            a(class="solid-button button" href="#" data-aos="fade-up" data-aos-duration="800") Khám Phá Ngay