@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  line-height: 1.4;
  background-color: #FDFDFD;
}

a {
  text-decoration: none;
}

/* container */
.container {
  width: 1180px;
  margin: 0 auto;
}
@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* End container */
a {
  text-decoration: none;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 44px;
  padding: 0 28px;
  color: #FDFDFD;
  font-weight: 700;
  font-size: 16px;
  background-color: #003459;
  border-radius: 57px;
}

.outline-button {
  display: inline-flex;
  align-items: center;
  height: 48px;
  padding: 12px 28px;
  color: #003459;
  font-weight: 700;
  font-size: 16px;
  background-color: transparent;
  border-radius: 57px;
  border: 1.5px solid #003459;
  text-wrap: nowrap;
}

.outline-button:hover {
  transition: all 0.3s;
  background-color: #00ADEF;
  color: white;
  border-color: transparent;
}
.outline-button:hover i {
  color: white;
  transition: all 0.3s;
}

.outline-button i {
  font-size: 18px;
  color: #003459;
  margin-left: 11px;
}

.solid-button {
  border: 1.5px solid #003459;
  background-color: #003459;
  color: white;
  padding: 12px 28px;
  display: inline-flex;
  align-items: center;
  height: 48px;
  font-weight: 700;
  text-wrap: nowrap;
}

.solid-button:hover {
  background-color: #00ADEF;
  transition: all 0.3s;
  border-color: transparent;
}

.header {
  padding: 28px 0;
  position: relative;
  z-index: 999;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}
.header__search-mobile, .header__menu-mobile {
  display: none;
}
.header__logo img {
  height: 40px;
  width: auto;
}
.header__menu {
  flex: 1;
  text-align: center;
}
.header__menu ul {
  list-style: none;
  display: inline-flex;
  padding: 0;
  margin: 0;
  gap: 48px;
}
.header__menu ul li a {
  color: #003459;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s;
}
.header__form {
  height: 44px;
  background-color: #F3F3F3;
  border-radius: 46px;
  width: 280px;
  padding: 0 16px;
  display: inline-flex;
  gap: 12px;
}
.header__form input {
  outline: none;
  border: none;
  background-color: transparent;
  flex: 1;
  height: 100%;
  order: 1;
  font-size: 14px;
  font-weight: 500;
}
.header__form input::placeholder {
  color: #99A2A5;
}
.header__form button {
  outline: none;
  border: none;
  background-color: transparent;
  color: #667479;
  font-size: 16px;
  order: 0;
}
@media (max-width: 1199.98px) {
  .header__wrap .button {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .header__form {
    display: none;
  }
  .header__search-mobile {
    display: inline-flex;
    font-size: 23px;
    color: #00171F;
  }
}
@media (max-width: 767.98px) {
  .header {
    padding: 12.5px 0;
  }
  .header__menu {
    display: none;
  }
  .header__menu-mobile {
    display: inline-flex;
    font-size: 23px;
    color: #00171F;
  }
  .header__logo img {
    height: 32px;
    width: auto;
  }
}

.section-1 {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  margin-top: -102px;
  padding-top: 102px;
  border-radius: 0 0 40px 40px;
  overflow: hidden;
}
.section-1__wrap {
  display: flex;
}
.section-1__content {
  width: 50%;
  padding-right: 76px;
  padding-top: 80px;
  position: relative;
}
.section-1__bg-1 {
  position: absolute;
  top: 75px;
  left: 0px;
}
.section-1__bg-2 {
  position: absolute;
  bottom: 0;
  right: -50px;
}
.section-1__bg-3 {
  position: absolute;
  top: -110px;
  left: -130px;
}
.section-1__image {
  width: 50%;
  padding-right: 74px;
  position: relative;
}
.section-1__img-main {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}
.section-1__bg-4 {
  position: absolute;
  bottom: 0;
  left: -120px;
}
.section-1__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  color: #002A48;
  position: relative;
}
.section-1__title-main {
  font-size: 60px;
}
.section-1__title-sub {
  font-size: 46px;
}
.section-1__desc {
  font-size: 16px;
  font-weight: 500;
  color: #242B33;
}
.section-1__buttons {
  display: flex;
  gap: 18px;
  margin-top: 34px;
}
@media (max-width: 1199.98px) {
  .section-1__bg-2 {
    display: none;
  }
  .section-1__title-main {
    font-size: 50px;
  }
  .section-1__title-sub {
    font-size: 38px;
  }
  .section-1__desc {
    font-size: 16px;
  }
  .section-1__bg-4 {
    bottom: -90px;
    left: -100px;
  }
}
@media (max-width: 991.98px) {
  .section-1__wrap {
    flex-wrap: wrap;
  }
  .section-1__content {
    width: 100%;
    padding-top: 35px;
    padding-right: 0;
  }
  .section-1__image {
    width: 100%;
    padding-right: 0;
    margin-top: 25px;
  }
  .section-1__bg-1 {
    display: none;
  }
  .section-1__bg-4 {
    bottom: 0px;
    left: -50px;
  }
}
@media (max-width: 767.98px) {
  .section-1__bg-4 {
    left: -20px;
  }
  .section-1__bg-3 {
    left: 15%;
  }
  .section-1__main {
    font-size: 46px;
  }
  .section-1__title-sub {
    font-size: 28px;
  }
  .section-1__desc {
    font-size: 12px;
  }
}
@media (max-width: 575.98px) {
  .section-1 {
    border-radius: 0 0 20px 20px;
  }
  .section-1__bg-4 {
    bottom: -115px;
    left: -30px;
  }
  .section-1__content {
    z-index: 1;
  }
  .section-1__title {
    margin-bottom: 12px;
  }
  .section-1__desc {
    margin-bottom: 32px;
  }
  .section-1__bg-3 {
    left: 6%;
  }
  .section-1__buttons {
    flex-wrap: wrap;
  }
}

.box-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 28px;
}
.box-head__title-1 {
  font-size: 16px;
  font-weight: 500px;
  color: #000000;
  margin-bottom: 4px;
}
.box-head__title-2 {
  font-size: 24px;
  font-weight: 700px;
  color: #003459;
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 0;
}
.box-head__right__button {
  color: #003459;
  background-color: transparent;
  border: 1.5px solid #003459;
  padding: 0px 28px;
  border-radius: 57px;
  height: 44px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}
.box-head__right__button:hover {
  background-color: #00ADEF;
  border-color: transparent;
  transition: all 0.3s;
  color: white;
}
.box-head__right-mobile {
  display: none;
}
.box-head__right-mobile__button {
  color: #003459;
  background-color: transparent;
  border: 1.5px solid #003459;
  padding: 0px 28px;
  border-radius: 57px;
  height: 44px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}
.box-head__right-mobile__button:hover {
  background-color: #00ADEF;
  border-color: transparent;
  transition: all 0.3s;
  color: white;
}
@media (max-width: 767.98px) {
  .box-head__right {
    display: none;
  }
  .box-head__right-mobile {
    display: block;
    margin-top: 16px;
    width: 100%;
  }
  .box-head__right-mobile__button {
    margin-top: 16px;
    width: 100%;
    justify-content: center;
    font-size: 16px;
  }
}
@media (max-width: 575.98px) {
  .box-head__title-1 {
    font-size: 14px;
  }
  .box-head__title-2 {
    font-size: 20px;
  }
}

.section-2 {
  padding: 60px 0;
}
.section-2__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.section-2__wrap .product-item {
  width: calc((100% - 60px) / 4);
}
@media (max-width: 1199.98px) {
  .section-2__wrap .product-item {
    width: calc((100% - 40px) / 3);
  }
}
@media (max-width: 991.98px) {
  .section-2__wrap .product-item {
    width: calc((100% - 30px) / 2);
  }
}

.product-item {
  border-color: 1.5px solid #FDFDFD;
  background-color: #FDFDFD;
  padding: 8px 8px 0 8px;
  border-radius: 10px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
}
.product-item:hover {
  border-color: transparent;
  background-color: #FAE6C2;
  transition: all 0.3s;
}
.product-item__img {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 8px;
}
.product-item__img img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  display: block;
}
.product-item__content {
  padding: 8px 8px 20px 8px;
}
.product-item__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  color: #00171F;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
.product-item__info {
  margin-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px 26px;
}
.product-item__info-item {
  color: #667479;
  font-size: 12px;
  position: relative;
  font-weight: 500;
}
.product-item__info-item b {
  font-weight: 700;
}
.product-item__info-item::after {
  content: "";
  border-radius: 50%;
  width: 3px;
  height: 3px;
  display: inline-block;
  background-color: #667479;
  position: absolute;
  top: 6px;
  right: -15px;
}
.product-item__price {
  font-size: 14px;
  font-weight: 700;
  color: #00171F;
}
.product-item__info-item:last-child::after {
  display: none;
}
@media (max-width: 575.98px) {
  .product-item__info-item::after {
    display: none;
  }
}

.section-3__wrap {
  background-image: url(../images/Banner.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  overflow: hidden;
}
.section-3__img-main {
  width: 40%;
  margin-left: 20px;
  margin-top: 36px;
  position: relative;
}
.section-3__img-main img {
  width: 100%;
  height: auto;
  display: block;
}
.section-3__content {
  width: 34%;
  text-align: right;
  margin-top: 58px;
  margin-right: 85px;
}
.section-3__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  color: #003459;
}
.section-3__title-main {
  font-size: 52px;
}
.section-3__title-sub {
  margin-top: 8px;
  font-size: 36px;
}
.section-3__desc {
  font-size: 12px;
  font-weight: 500;
  color: #242B33;
  margin-bottom: 24px;
}
.section-3__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px 18px;
}
@media (max-width: 1199.98px) {
  .section-3__title-main {
    font-size: 42px;
  }
  .section-3__title-sub {
    font-size: 28px;
  }
  .section-3__content {
    width: 39%;
    margin-top: 25px;
    margin-right: 25px;
  }
}
@media (max-width: 991.98px) {
  .section-3__wrap {
    flex-wrap: wrap;
    background-image: url(../images/banner1.svg);
  }
  .section-3__img-main {
    width: 100%;
    order: 1;
    margin: 0;
  }
  .section-3__content {
    width: 100%;
    order: 0;
    margin: 0;
    padding: 32px 20px 23px 20px;
    text-align: center;
  }
  .section-3__buttons {
    justify-content: center;
  }
}
@media (max-width: 575.98px) {
  .section-3__title {
    margin-bottom: 12px;
  }
  .section-3__title-main {
    font-size: 36px;
  }
  .section-3__title-sub {
    margin-top: 0;
    font-size: 24px;
  }
  .section-3__desc {
    margin-bottom: 32px;
  }
  .section-3__buttons {
    margin-bottom: 20px;
  }
}

.section-4 {
  padding: 60px 0;
}
.section-4__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.blog-item {
  width: calc((100% - 40px) / 3);
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
  background-color: #FDFDFD;
}
@media (max-width: 991.98px) {
  .blog-item {
    width: calc((100% - 20px) / 2);
  }
}
@media (max-width: 575.98px) {
  .blog-item {
    width: 100%;
  }
}
.blog-item:hover {
  background-color: #FAE6C2;
  transition: all 0.3s;
}
.blog-item__img {
  overflow: hidden;
  margin-bottom: 8px;
  aspect-ratio: 364/240;
  overflow: hidden;
  border-radius: 10px;
}
.blog-item__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.blog-item__content {
  padding: 8px;
}
.blog-item__button {
  height: 20px;
  padding: 2px 10px;
  border-radius: 28px;
  font-size: 10px;
  font-weight: 700;
  color: #FDFDFD;
  background-color: #00A7E7;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.blog-item__title {
  font-size: 16px;
  font-weight: 700;
  color: #00171F;
  margin-bottom: 6px;
}
.blog-item__detail {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #242B33;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
.blog-item__detail--fourlines {
  -webkit-line-clamp: 4;
}

.footer {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  padding-top: 80px;
  padding-bottom: 40px;
}
.footer__box-1 {
  border-radius: 16px;
  background-color: #003459;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  gap: 20px;
}
.footer__title {
  color: #FDFDFD;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 16px;
  text-wrap: wrap;
  width: 32%;
}
.footer__form {
  width: 62%;
  background-color: #ffffff;
  padding: 12px;
  display: flex;
  border-radius: 14px;
  gap: 12px;
}
.footer__form input {
  border: 1px solid #99A2A5;
  padding: 0 28px;
  border-radius: 8px;
  flex: 1;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
}
.footer__form input::placeholder {
  color: #99A2A5;
}
.footer button {
  border: 1.5px solid #003459;
  background-color: #003459;
  border-radius: 8px;
  padding: 0 28px;
  color: #FDFDFD;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  text-transform: capitalize;
  cursor: pointer;
}
.footer button:hover {
  border-color: transparent;
  background-color: #00ADEF;
  transition: all 0.3s;
}
.footer__box-2 {
  display: flex;
  padding: 40px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #CCD1D2;
}
.footer__menu ul {
  list-style: none;
  display: flex;
  text-transform: capitalize;
  align-items: center;
  gap: 10px 60px;
  padding: 0;
}
.footer__menu ul a {
  color: #00171F;
  font-size: 16px;
  font-weight: 500;
}
.footer__social ul {
  display: flex;
  list-style: none;
  gap: 10px 40px;
  font-size: 24px;
  align-items: center;
  padding: 0;
}
.footer__social ul a {
  color: #00171F;
}
.footer__box-3 {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.footer__copyright {
  font-size: 14px;
  font-weight: 500;
  color: #667479;
  width: 40%;
}
.footer__logo {
  width: 20%;
  text-align: center;
}
.footer__logo img {
  height: auto;
  width: 115px;
}
.footer__provision {
  width: 40%;
}
.footer__provision ul {
  display: flex;
  gap: 32px;
  list-style: none;
  padding: 0;
  justify-content: flex-end;
}
.footer__provision a {
  font-size: 14px;
  font-weight: 500;
  color: #667479;
}
@media (max-width: 991.98px) {
  .footer {
    padding-top: 40px;
    border-radius: 20px;
    padding-bottom: 16px;
  }
  .footer__box-1 {
    flex-wrap: wrap;
  }
  .footer__title {
    width: 100%;
  }
  .footer__form {
    width: 100%;
  }
  .footer__box-2 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__menu {
    width: 100%;
  }
  .footer__menu ul {
    justify-content: center;
  }
  .footer__box-3 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__copyright {
    width: 100%;
    text-align: center;
    order: 2;
  }
  .footer__logo {
    width: 100%;
    order: 0;
    margin-bottom: 32px;
  }
  .footer__provision {
    width: 100%;
    order: 1;
  }
  .footer__provision ul {
    justify-content: center;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .footer__provision a {
    font-size: 12px;
  }
  .footer__copyright {
    font-size: 11px;
  }
}
@media (max-width: 767.98px) {
  .footer__form {
    flex-wrap: wrap;
  }
  .footer__form input {
    width: 100%;
    flex: none;
    height: 48px;
  }
  .footer__form a {
    width: 100%;
  }
  .footer__form button {
    width: 100%;
  }
  .footer__copyright {
    font-size: 11px;
  }
}
@media (max-width: 575.98px) {
  .footer__title {
    font-size: 20px;
  }
  .footer__menu ul {
    gap: 40px;
  }
  .footer__menu ul li a {
    text-wrap: nowrap;
    font-size: 13px;
  }
  .footer__social ul {
    gap: 40px;
    font-size: 20px;
  }
  .footer__copyright {
    font-size: 10px;
  }
}

.breadcrumb ul {
  list-style: none;
  display: flex;
  margin: 0 0 8px 0;
  padding: 0;
  gap: 10px 36px;
  position: relative;
}
.breadcrumb ul li::after {
  content: "\f105";
  line-height: 1;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  font-size: 12px;
  color: #667479;
  position: relative;
  right: -20px;
  top: -2px;
}
.breadcrumb ul li:last-child::after {
  display: none;
}
.breadcrumb ul a {
  color: #667479;
  font-weight: 500;
  font-size: 14px;
}

.box-filter__group {
  padding-bottom: 16px;
  border-bottom: 1px solid #EBEEEF;
  margin-bottom: 16px;
}
.box-filter__title {
  font-weight: 700;
  font-size: 20px;
  color: #003459;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}
.box-filter__group-label {
  font-size: 16px;
  font-weight: 700;
  color: #00171F;
  margin-bottom: 10px;
}
.box-filter__group-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.box-filter__group-item {
  display: flex;
  align-items: center;
}
.box-filter__group-item label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  color: #00171F;
}
.box-filter__group-item input {
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
}

.section-5 {
  padding: 60px 0;
}
.section-5__wrap {
  display: flex;
}
.section-5__left {
  width: calc(25% - 10px);
}
.section-5__right {
  width: calc(75% - 10px);
}
.section-5__title {
  font-weight: 700;
  font-size: 24px;
  color: #003459;
  margin-top: 0;
  margin-bottom: 14px;
}
.section-5__title .box-filter__title-mobile {
  display: none;
}
.section-5__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.section-5__list .product-item {
  width: calc((100% - 40px) / 3);
}
@media (max-width: 991.98px) {
  .section-5__list .product-item {
    width: calc((100% - 20px) / 2);
  }
}
@media (max-width: 767.98px) {
  .section-5__left {
    display: none;
  }
  .section-5__right {
    width: 100%;
  }
  .section-5__title {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
  .section-5__title .box-filter__title-mobile {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #002A48;
  }
  .section-5__title .box-filter__title-mobile img {
    margin-right: 8px;
  }
}

.pagination {
  margin-top: 20px;
}
.pagination ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  padding: 0;
  margin: 0;
}
.pagination__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  width: 34px;
  height: 34px;
  color: #002A48;
  border-radius: 8px;
}
.pagination__item--active, .pagination__item:hover {
  color: #FDFDFD;
  background-color: #002A48;
  transition: all 0.3s;
}

.section-6 {
  padding: 20px 0;
}
.section-6__wrap {
  border: 1px solid #EBEEEF;
  display: flex;
  padding: 22px 20px;
  border-radius: 20px;
  gap: 34px;
}
.section-6__left {
  width: 50%;
  overflow: hidden;
}
.section-6__right {
  width: 50%;
}
.section-6__img-main {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 12px;
}
.section-6__img-main img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: block;
}
.section-6__img-list {
  display: flex;
  gap: 12px;
}
.section-6__img-list img {
  object-fit: cover;
  width: calc((100% - 48px) / 5);
  display: block;
  aspect-ratio: 1/1;
  border-radius: 6px;
}
.section-6__title {
  color: #00171F;
  font-weight: 700;
  font-size: 24px;
  margin-top: 18px;
  margin-bottom: 0;
}
.section-6__price {
  margin-top: 10px;
  color: #002A48;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 18px;
}
.section-6__buttons {
  display: flex;
  gap: 18px;
  margin-bottom: 18px;
  flex-wrap: wrap;
}
.section-6__buttons .button {
  font-weight: 700;
  font-size: 16px;
}
.section-6__button-2 {
  border: 2px solid #002A48;
  font-weight: 700;
  font-size: 16px;
}
.section-6__button-2 i {
  margin-right: 12px;
  font-size: 19px;
}
.section-6__content {
  padding: 8px 0;
  display: flex;
  color: #667479;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #EBEEEF;
}
.section-6__content-left {
  width: 39%;
  padding-top: 4px;
  padding-left: 11px;
}
.section-6__content-right {
  width: 61%;
  padding-top: 4px;
  padding-left: 11px;
}
.section-6__social {
  padding-left: 11px;
  margin-top: 18px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 6px 10px;
}
.section-6__social-left {
  font-size: 14px;
  font-weight: 700;
  color: #002A48;
}
.section-6__social-left i {
  margin-right: 10px;
  font-size: 20px;
}
.section-6__social-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 18px;
  display: flex;
  flex-wrap: wrap;
}
.section-6__social-right ul li a {
  color: #99A2A5;
}
@media (max-width: 991.98px) {
  .section-6__wrap {
    flex-wrap: wrap;
  }
  .section-6__left {
    width: 100%;
  }
  .section-6__right {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .section-6 .breadcrumb ul {
    flex-wrap: wrap;
  }
  .section-6 .container {
    padding: 0;
  }
  .section-6__wrap {
    padding: 0;
    border: 0;
    gap: 22px;
  }
  .section-6__right {
    box-shadow: 0px -6px 6px 0px rgba(0, 0, 0, 0.0588235294);
    padding: 32px 16px 20px 16px;
    border-radius: 20px;
  }
  .section-6__title {
    margin-top: 15px;
    margin-bottom: 2px;
  }
  .section-6__price {
    margin-bottom: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
