<!DOCTYPE html >
<html> 
  <head> 
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/FE-T7-2024/project02/assets/css/style.css"/>
  </head>
</html>
<body> 
  <header class="header">
    <div class="container">
      <div class="header__wrap">
        <div class="header__menu-mobile"><i class="fa-solid fa-bars"></i></div>
        <div class="header__logo"><a href="index.html"><img src="/FE-T7-2024/project02/assets/images/Frame.svg" alt="monito-logo"/></a></div>
        <nav class="header__menu">
          <ul>
            <li><a href="#">Trang Chủ</a></li>
            <li><a href="#">Danh mục</a></li>
            <li><a href="#">Giới Thiệu</a></li>
            <li><a href="#">Liên hệ</a></li>
          </ul>
        </nav>
        <div class="header__search-mobile"><i class="fa-solid fa-magnifying-glass"></i></div>
        <form class="header__form" action="#">
          <input name="keyword" placeholder="Nhập từ khóa..."/>
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form><a class="solid-button button" href="#" target="_blank">Tham Gia Cộng Đồng</a>
      </div>
    </div>
  </header>
  <footer class="footer">
    <div class="container">
      <div class="footer__wrap">
        <div class="footer__box-1">
          <div class="footer__title">Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi</div>
          <form class="footer__form" action="#" name="" target="_blank">
            <input type="email" placeholder="Nhập email của bạn..."/><a href="#" target="_blank">
              <button>đăng kí ngay</button></a>
          </form>
        </div>
        <div class="footer__box-2">
          <nav class="footer__menu">
            <ul>
              <li><a href="index.html">trang chủ</a></li>
              <li><a href="index.html">danh mục</a></li>
              <li><a href="index.html">giới thiệu</a></li>
              <li><a href="index.html">liên hệ</a></li>
            </ul>
          </nav>
          <nav class="footer__social">
            <ul>
              <li><a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a a="a" href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__box-3">
          <nav class="footer__copyright">© 2023 28Tech. All rights reserved.</nav>
          <nav class="footer__logo"><a href="index.html"><img src="/FE-T7-2024/project02/assets/images/Frame.svg" alt=""/></a></nav>
          <nav class="footer__provision">
            <ul>
              <li><a href="#">Điều khoản dịch vụ</a></li>
              <li><a href="#">Chính sách bảo mật</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/FE-T7-2024/project02/assets/scripts/script.js"></script>
</body>