doctype html 
html 
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block title
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
        link(rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
        link(rel="stylesheet" href="assets/css/style.css")


body 
    //- header
    header.header
        .container
            .header__wrap
                .header__menu-mobile
                    i(class="fa-solid fa-bars")
                .header__logo
                    a(href="index.html")
                        img(src="assets/images/Frame.svg" alt="monito-logo")
                nav.header__menu
                    ul
                        li
                            a(href="#") Trang Chủ
                        li
                            a(href="#") Danh mục
                        li
                            a(href="#") Giới Thiệu
                        li
                            a(href="#") Liên hệ
                .header__search-mobile
                    i(class="fa-solid fa-magnifying-glass")
                form(action="#" class="header__form")
                    input(name="keyword" placeholder="Nhập từ khóa...")
                    button
                        i(class="fa-solid fa-magnifying-glass")
                a(class="solid-button button" href="#" target="_blank") Tham Gia Cộng Đồng
    
    //- main 
    block main
    //- end main 

    //- footer 
    footer.footer
        .container
            .footer__wrap
                .footer__box-1
                    .footer__title Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
                    form(action="#" class="footer__form" name="" target="_blank")
                        input(type="email" placeholder="Nhập email của bạn...")
                        a(href="#" target="_blank")
                            button đăng kí ngay
                .footer__box-2
                    nav.footer__menu
                        ul
                            li
                                a(href="index.html") trang chủ
                            li
                                a(href="index.html") danh mục
                            li
                                a(href="index.html") giới thiệu
                            li
                                a(href="index.html") liên hệ
                    nav.footer__social
                        ul
                            li
                                a(href="#" target="_blank")
                                    i(class="fa-brands fa-facebook")
                            li
                                a(a href="#" target="_blank")
                                    i(class="fa-brands fa-twitter")
                            li
                                a(href="#" target="_blank")
                                    i(class="fa-brands fa-instagram")
                            li
                                a(href="#" target="_blank")
                                    i(class="fa-brands fa-youtube")
                .footer__box-3
                    nav.footer__copyright © 2023 28Tech. All rights reserved.
                    nav.footer__logo
                        a(href="index.html")
                            img(src="assets/images/Frame.svg" alt="")
                    nav.footer__provision
                        ul
                            li
                                a(href="#") Điều khoản dịch vụ
                            li
                                a(href="#") Chính sách bảo mật

    block scripts
        script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
        script(src="assets/scripts/script.js")


    